In [1]:
import pickle
import pandas as pd
from pathlib import Path

# Sample data

In [2]:
label_df = '../sample_data_anonym/label_level_df.pkl'
token_df = '../sample_data_anonym/token_level_df.pkl'
container = '../sample_data_anonym/BERTContainers/Container_notities_2017_deel1_cleaned.csv---25032_avelli.pkl'

In [3]:
label_df = pd.read_pickle(label_df)
label_df.shape

(21, 6)

In [4]:
label_df.head()

,file_id,start_index,end_index,tokens,annotators,annotator_count
2503_16.0_16.0_.B152: Stemming,2503,16.0,16.0,[emotioneel],"{avelli, bos}",2
2503_16.0_16.0_STM 1,2503,16.0,16.0,[emotioneel],"{avelli, bos}",2
2503_18.0_26.0_stm\_reaction,2503,18.0,26.0,"[schoonzoon, hoort, morgen, de, uitslag, van, ...",{avelli},1
2503_29.0_33.0_.B152: Stemming,2503,29.0,33.0,"[maakt, zich, hier, veel, zorgen]",{avelli},1
2503_29.0_34.0_.B152: Stemming,2503,29.0,34.0,"[maakt, zich, hier, veel, zorgen, om]",{bos},1

In [5]:
token_df = pd.read_pickle(token_df)
token_df.shape

(127, 14)

In [20]:
token_df.head()

,token_d_id,token,labels_avelli,relation_avelli,temp,file_id,sent_id,token_s_id,labels_bos,relation_bos,temp,labels_meskers,relation_meskers,temp
2503_0,0.0,NF,_,_,_,2503,1,1,_,_,_,_,_,_
2503_1,1.0,:,_,_,_,2503,1,2,_,_,_,_,_,_
2503_2,2.0,Pijn,_,_,_,2503,1,3,_,_,_,_,_,_
2503_3,3.0,in,_,_,_,2503,1,4,_,_,_,_,_,_
2503_4,4.0,de,_,_,_,2503,1,5,_,_,_,_,_,_
2503_5,5.0,rug,_,_,_,2503,1,6,_,_,_,_,_,_
2503_6,6.0,",",_,_,_,2503,1,7,_,_,_,_,_,_
2503_7,7.0,verlicht,_,_,_,2503,1,8,_,_,_,_,_,_
2503_8,8.0,met,_,_,_,2503,1,9,_,_,_,_,_,_
2503_9,9.0,warme,_,_,_,2503,1,10,_,_,_,_,_,_
2503_10,10.0,handdoek,_,_,_,2503,1,11,_,_,_,_,_,_
2503_11,11.0,en,_,_,_,2503,1,12,_,_,_,_,_,_
2503_12,12.0,pcm,_,_,_,2503,1,13,_,_,_,_,_,_
2503_13,13.0,.,_,_,_,2503,1,14,_,_,_,_,_,_
2503_14,14.0,Mw,_,_,_,2503,2,1,_,_,_,_,_,_
2503_15,15.0,was,_,_,_,2503,2,2,_,_,_,_,_,_
2503_16,16.0,emotioneel,.B152: Stemming[1]|STM 1[2],14-3[2_1],_,2503,2,3,.B152: Stemming[1]|STM 1[2],14-3[2_1],_,_,_,_
2503_17,17.0,",",_,_,_,2503,2,4,_,_,_,_,_,_
2503_18,18.0,schoonzoon,stm\_reaction[3],_,_,2503,2,5,_,_,_,_,_,_
2503_19,19.0,hoort,stm\_reaction[3],_,_,2503,2,6,_,_,_,_,_,_

In [7]:
with open(container, "rb") as pkl_file:
    container = pickle.load(pkl_file)
    
container

[<class_definitions.BertContainer at 0x1e2152e1520>,
 <class_definitions.BertContainer at 0x1e21737be80>]

In [8]:
sent1 = vars(container[0])
sent1

{'key': 'notities_2017_deel1_cleaned.csv---25031',
 'annotator': 'avelli',
 'sen_id': '1',
 'sen': 'NF : Pijn in de rug , verlicht met warme handdoek en pcm .',
 'encoding': 12345,
 'annot': []}

In [9]:
sent2 = vars(container[1])
sent2

{'key': 'notities_2017_deel1_cleaned.csv---25032',
 'annotator': 'avelli',
 'sen_id': '2',
 'sen': 'Mw was emotioneel , schoonzoon hoort morgen de uitslag van een aantal onderzoeken en mw maakt zich hier veel zorgen om .',
 'encoding': 12345,
 'annot': [<class_definitions.Annotation at 0x1e21737be50>,
  <class_definitions.Annotation at 0x1e2173eb6a0>,
  <class_definitions.Annotation at 0x1e2173eb7f0>,
  <class_definitions.Annotation at 0x1e2173eb880>,
  <class_definitions.Annotation at 0x1e2173eb370>]}

In [10]:
for annot in sent2['annot']:
    print(vars(annot))

{'tokens': [('t3', 'emotioneel')], 'label': '.B152: Stemming'}
{'tokens': [('t19', 'veel'), ('t20', 'zorgen')], 'label': 'STM 0'}
{'tokens': [('t3', 'emotioneel')], 'label': 'STM 1'}
{'tokens': [('t5', 'schoonzoon'), ('t6', 'hoort'), ('t7', 'morgen'), ('t8', 'de'), ('t9', 'uitslag'), ('t10', 'van'), ('t11', 'een'), ('t12', 'aantal'), ('t13', 'onderzoeken')], 'label': 'stm\\_reaction'}
{'tokens': [('t16', 'maakt'), ('t17', 'zich'), ('t18', 'hier'), ('t19', 'veel'), ('t20', 'zorgen')], 'label': '.B152: Stemming'}

## Output from INCEpTION

In [13]:
incept_dir = Path('../sample_data_anonym/INCEpTION_output/')

In [47]:
def tsv_to_df(filepath):
    names = ['sen_tok', 'char', 'token', 'label', 'relation']
    raw_file, note_id = filepath.parent.stem.split('---')
    annotator = filepath.stem
    return pd.read_csv(
        filepath,
        sep='\t',
        skiprows=5,
        names=names
    ).dropna(how='all').query("sen_tok.str[0] != '#'").assign(
        raw_file=raw_file,
        note_id=note_id,
        annotator=annotator,
    )

In [48]:
pd.concat(tsv_to_df(fp) for fp in incept_dir.glob('**/*.tsv'))

,sen_tok,char,token,label,relation,raw_file,note_id,annotator
1,1-1,0-2,NF,_,_,notities_2017_deel1_cleaned.csv,2503,avelli
2,1-2,3-4,:,_,_,notities_2017_deel1_cleaned.csv,2503,avelli
3,1-3,5-9,Pijn,_,_,notities_2017_deel1_cleaned.csv,2503,avelli
4,1-4,10-12,in,_,_,notities_2017_deel1_cleaned.csv,2503,avelli
5,1-5,13-15,de,_,_,notities_2017_deel1_cleaned.csv,2503,avelli
...,...,...,...,...,...,...,...,...
55,3-6,2118-2129,buitenshuis,FAC 4[2],_,notities_2017_deel1_cleaned.csv,2570,meskers
56,3-7,2130-2131,",",_,_,notities_2017_deel1_cleaned.csv,2570,meskers
57,3-8,2132-2144,Persoonlijke,_,_,notities_2017_deel1_cleaned.csv,2570,meskers
58,3-9,2145-2155,verzorging,_,_,notities_2017_deel1_cleaned.csv,2570,meskers
59,3-10,2156-2157,:,_,_,notities_2017_deel1_cleaned.csv,2570,meskers