In [1]:
import pandas as pd
from pathlib import Path

import sys
sys.path.insert(0, '..')
from utils.latex import show_latex, TABLES
from utils.config import PATHS

# Load data

In [2]:
datapath = PATHS.getpath('data')

notes = pd.read_pickle(datapath / '2018_raw/processed.pkl')

# Stats

In [3]:
caption = "All data: num patients, num notes"
label = "2018_all_overview"

pd.concat([
    notes.groupby('institution').MDN.nunique().rename('patients'),
    notes.groupby('institution').NotitieID.nunique().rename('notes'),
    ], axis=1
).T.assign(total=lambda df: df.sum(axis=1)).rename_axis('n_unique').pipe(show_latex, caption, label)

institution        amc      total
n_unique
patients       111,698    111,698
notes        2,451,973  2,451,973

In [4]:
prefix = '2018'
for idx, table in enumerate(TABLES):
    with open(f'./tables/{prefix}_{idx}.tex', 'w', encoding='utf8') as f:
        f.write(table)